<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>USC SOC API</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<div class="container">
    <h1 class="text-center" id="info">This is the stub for the USC Schedule of Classes API reminder. Only used by <a
                href="https://chrome.google.com/webstore/detail/gchplemiinhmilinflepfpmjhmbfnlhk/">USC Schedule
            Helper</a></h1>
</div>
<footer class="text-center" id="footer">
    <p>&copy;
        <% var d = new Date(); %>
        <%= d.getFullYear() %> JonLuca De Caro</p>
</footer>
</body>
</html>