<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>USC SOC API</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<div class="container" style="max-width: 800px">
    <h1 class="text-center" id="info">A new version of the USC Schedule Helper is out - v15! Please download the <a
                href="https://chrome.google.com/webstore/detail/gchplemiinhmilinflepfpmjhmbfnlhk/">USC Schedule
            Helper</a> on the chrome webstore.</h1>
    <h2 class="text-center" id="info">You can view your new dashboard at</h2> <a href="https://usc.jonlu.ca">https://usc.jonlu.ca</a>
    <h2 class="text-center" id="info">To opt out of text messages, reply STOP.</h2>
    <a href="/privacy" class="text-center" id="info">Privacy Policy</a>
    <a href="/terms" class="text-center" id="info">Terms of Service</a>
</div>
<footer class="text-center" id="footer">
    <p>&copy;
        <% var d = new Date(); %>
        <%= d.getFullYear() %> JonLuca De Caro - <a href="https://github.com/jonluca/USC-Class-Notifier-API">View this project on
            GitHub!</a></p></footer>
</body>
</html>
