html {
  height: 100%;
}

.info {
  color: black;
}

.subtext {
  width: 40%;
  margin: 0 auto;
}

.faq{
  text-decoration: underline;
  cursor: pointer;
      margin: 25px 0;
    font-size: 19px;
}
#faq-text{
  margin:  16px auto;
  max-height: 100%;
    transition: max-height 0.25s ease-in;
}
.faq-off {
  display:  none;
    max-height: 0;
        overflow: hidden;
    transition: max-height 0.25s ease-in;
}

a {
  color: #1f8043;
}

a:hover {
  color: #1f8043;
}

.modal-content {
  display: none;
}

#footer {
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-left: 20px;
}

.container {
  padding-left: 20px;
  padding-bottom: 50px;
}

.larger-text {
  font-size: 20px;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
    url(http://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHA.ttf)
      format("truetype");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 100px 0 0 0;
  text-align: center;
}

body div {
  display: inline-block;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
}

body .verified {
  background: #fff;
  width: 200px;
  height: 200px;
  position: relative;
  border: #2ecc71 2px dashed;
  left: 0;
}

body .verified .inner {
  background: #fff;
  background-image: 8121991;
  background-image: -webkit-radial-gradient(
    center center,
    #fff 0%,
    #e6f9ee 100%
  );
  background-image: -moz-radial-gradient(center center, #fff 0%, #e6f9ee 100%);
  background-image: -o-radial-gradient(center center, #fff 0%, #e6f9ee 100%);
  background-image: radial-gradient(center center, #fff 0%, #e6f9ee 100%);
  width: 185px;
  height: 185px;
  position: absolute;
  border: #e6f9ee 1px solid;
  left: 5px;
  top: 5px;
}

body .verified .inner p {
  font-size: 100px;
  font-family: Lato, helvetica, sans-serif;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.05);
  line-height: 170px;
  color: #27ae60;
}

body .verified .inner p span {
  background: #fff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none;
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 200px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 200px;
  -moz-background-clip: padding;
  border-radius: 200px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 1px #bcf0d2 inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 0 1px #bcf0d2 inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 1px #bcf0d2 inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  left: 0;
  bottom: 5px;
}

body .notverified {
  background: #fff;
  width: 200px;
  height: 200px;
  position: relative;
  border: #ae1d1a 2px dashed;
  left: 0;
}

body .notverified .inner {
  background: #fff;
  background-image: 8121991;
  background-image: -webkit-radial-gradient(
    center center,
    #fff 0%,
    #f9d0c4 100%
  );
  background-image: -moz-radial-gradient(center center, #fff 0%, #f9d0c4 100%);
  background-image: -o-radial-gradient(center center, #fff 0%, #f9d0c4 100%);
  background-image: radial-gradient(center center, #fff 0%, #f9d0c4 100%);
  width: 185px;
  height: 185px;
  position: absolute;
  border: #e6f9ee 1px solid;
  left: 5px;
  top: 5px;
}

body .notverified .inner p {
  font-size: 100px;
  font-family: Lato, helvetica, sans-serif;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.05);
  line-height: 170px;
  color: #ae1d1a;
}

body .notverified .inner p span {
  background: #fff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none;
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 200px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 200px;
  -moz-background-clip: padding;
  border-radius: 200px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 1px #f0918d inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 0 1px #f0918d inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 1px #f0918d inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  left: 0;
  bottom: 5px;
}

table.blueTable {
  border: 1px solid #cacaca;
  background-color: #eeeeee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 14px 0px;
}
table.blueTable td,
table.blueTable th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #d8d8d8;
}
table.blueTable thead {
  background: #cacaca;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a {
  display: inline-block;
  background: #27ae60;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
