#canvasContainer {
    max-height: 80%;
}

.charts {
    float: none;
    margin: 0 auto;
    max-width: 50%;
}

.hidden {
    display: none;
}

#attackstudents {
    display: block;
}

#bombStudents {
    display: none;
}